---
import Card from '../components/Card.astro';
import type { ILanguage } from '../interfaces/language.interface';
import Layout from '../layouts/Layout.astro';
import { useTranslation } from '../i18n/utils';
import type { TypesLang } from '../i18n/i18n.types';
const {currentLocale} = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)
---

<Layout title=`Ezequiel Menoza | ${t('title')}`>
	<!-- TODO: Add Language selector -->
	<main>
		<div class="flex justify-center flex-col items-center text-gray-200 ">
		<img src="./ProfilePhoto.png" class="bg-gray-400 rounded-full w-56" />
		<div>
		<p class="text-sm text-blue-200 mt-2">{t('greeting')}</p>
		<h1 class="text-3xl mb-2 font-semibold">Ezequiel Mendoza</h1>
		</div>

	</div>
	<blockquote>
		<p class="text-gray-400 font-light" >
			{t('description',)}
		</p>
	</blockquote>
		<div class="my-8 mb-4">
			<h2 class="font-semibold text-xl text-gray-200">{t('toolsTitle')}</h2>
			<div class="flex bg-slate-700 p-3 py-5 my-1 rounded-xl flex-wrap justify-around space-x-4 ">
				<div class="py-3 md:py-1">
					<img src="./images/logo-react.png" class="object-fill" alt="React Js"   />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-next.png" class="object-fill" alt="Next Js"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-astro.png" class="object-fill" alt="Astro"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-tailwind.png" class="object-fill" alt="Tailwind"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-mui.png" class="object-fill" alt="Material UI"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-javascript.png" class="object-fill" alt="Javascript" />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-typescript.png" class="object-fill" alt="Typscript"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-aws.png" class="object-fill" alt="Amazon Web Services"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-firebase.png" class="object-fill" alt="Firebase"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-git.png" class="object-fill" alt="Git"  />
				</div>
			</div>		
		</div>
		<div>
			<!-- TODO: Add iconos to titles -->
			<div>
			<h2 class="font-semibold text-xl text-gray-200">{t('projectTitle')}</h2>
			<div class="md:columns-2 py-1 space-y-3">
			<Card
			title='Full24'
			body='App Android/iOS de ventas con catálogo de productos'
			/>
			<Card
			title='Luigi Heladería '
			body='App Android/iOS de promociones y cupones de descuentos'
			/>
			<Card
			title='Audec'
			body='Sistema para la Gestión de Peritajes de Vehículos'
			/>
			<Card
			title='Radio Bella Vista'
			body='App Android/iOS streaming de radio y noticias'
			/>
			<Card
			title='Club San Martin'
			body='PWA para el control de socios'
			/>
			<Card
			title='MusicQuiz'
			body='PWA juego usando API Spotify'
			/>
			<Card
			title='NBATeam'
			body='PWA API NBA'
			/>
		</div>
	</div>
		</div>	
	</main>
</Layout>

