---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { useTranslation } from '../i18n/utils';
import type { TypesLang } from '../i18n/i18n.types';
import { Projects } from '../data/projects';
import { highlightWord } from '../utilities';
const {currentLocale} = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)

---

<Layout title=`Ezequiel Menoza | ${t('ui.title')}`>
	<!-- TODO: Add Language selector -->
	
	<main class="flex flex-row">
		<sidenav>
			<div class="flex justify-center flex-col items-center text-gray-200 ">
				<img src="./ProfilePhoto.png" class="bg-gray-400 rounded-full w-56" />
				<div>
				<p class="text-sm text-blue-200 mt-2">{t('ui.greeting')}</p>
				<h1 class="text-3xl mb-2 font-semibold">Ezequiel Mendoza</h1>
				</div>
		
			</div>
			</sidenav>	
	<blockquote>
		<p class="text-gray-400 font-light">	
			<Fragment set:html={highlightWord(t('ui.description'))} />
		</p>
	</blockquote>
		<div class="my-8 mb-4">
			<h2 class="font-semibold text-xl text-gray-200">{t('ui.toolsTitle')}</h2>
			<div class="flex bg-slate-700 p-3 py-5 my-1 rounded-xl flex-wrap justify-around space-x-4 ">
				<div class="py-3 md:py-1">
					<img src="./images/logo-react.png" class="object-fill" alt="React Js"   />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-next.png" class="object-fill" alt="Next Js"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-astro.png" class="object-fill" alt="Astro"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-tailwind.png" class="object-fill" alt="Tailwind"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-mui.png" class="object-fill" alt="Material UI"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-javascript.png" class="object-fill" alt="Javascript" />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-typescript.png" class="object-fill" alt="Typscript"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-aws.png" class="object-fill" alt="Amazon Web Services"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-firebase.png" class="object-fill" alt="Firebase"  />
				</div>
				<div class="py-3 md:py-1">
					<img src="./images/logo-git.png" class="object-fill" alt="Git"  />
				</div>
			</div>		
		</div>
		<div>
			<!-- TODO: Add iconos to titles -->
			<div class="py-7">
			<h2 class="font-semibold text-xl text-gray-200">{t('ui.projectTitle')}</h2>
			<div class="md:columns-2 py-1 space-y-3">
				{Projects[lang].map((item, index)=>(
					<Card
			title={item.name}
			body={item.description}
			technologies={item.tags}
			/>
				))}
			
		</div>
	</div>
		</div>	
	</main>
</Layout>

