---
import type { TypesLang } from "../i18n/i18n.types";
import { useTranslation } from "../i18n/utils";
import { highlightWord } from "../utilities";
import Tools from "./Tools.astro";
const {currentLocale} = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)
---

<section id="about" class="lg:pb-5">
    <div class="sticky top-0 backdrop-blur-lg z-20 -mx-6 mb-4 px-6 py-3 lg:relative">
    <h2 class="font-semibold text-xl text-gray-200 pb-2 ">{t('ui.about')}</h2>
    </div>
    <blockquote>
        <p class="text-gray-400 font-light">	
            <Fragment set:html={highlightWord(t('ui.description'))} />
        </p>
    </blockquote>
<Tools />
</section>