---
import { ExperiencesData } from "../data";
import type { TypesLang } from "../i18n/i18n.types";
import { useTranslation } from "../i18n/utils";
const {currentLocale} = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)

---

<section id="experience" class="pb-10">
    <div class="sticky top-0 backdrop-blur-lg z-20 -mx-6 mb-2 px-6 lg:relative pb-2">
        <h2 class="font-semibold text-xl text-gray-100 sticky top-0">{t('ui.experience')}</h2>
        <div class="w-11 h-1 bg-sky-600 my-1 rounded-lg" />
    </div>
    {ExperiencesData[lang]?.map((item)=>(      
        <div class="columns-2 pb-10 px-3 border-s  dark:border-gray-700 items-start justify-start">
            <div class="break-inside-avoid-column">
                <div class="flex items-start">
                <div
                    class="-ms-[17px] me-3 h-[9px] w-[9px] rounded-full  dark:bg-sky-700 mt-2"></div>
                <p class='font-semibold text-slate-300 '>{item.name}</p>
            </div>
                <p class='text-gray-600 text-sm'>{item.period}</p>
            </div>
            <div class="break-inside-avoid-column">
                <p class='text-slate-400 text-sm leading-normal'>{item.description}</p>
            </div>
        </div>
    ))}
    <div>
        
</section>