---
import { ExperiencesData } from "../data";
import type { TypesLang } from "../i18n/i18n.types";
import { useTranslation } from "../i18n/utils";
const {currentLocale} = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)

---

<section id="experience" class="lg:py-5">
    <div class="sticky top-0 backdrop-blur-lg z-20 -mx-6 mb-2 px-6 lg:relative">
        <h2 class="font-semibold text-xl text-gray-200 pb-2 sticky top-0">{t('ui.experience')}</h2>
    </div>
    {ExperiencesData[lang]?.reverse().map((item)=>(
        <div class="columns-2 pb-3">
            <div class="break-inside-avoid-column">
                <p class='font-semibold text-slate-300'>{item.name}</p>
                <p class='text-gray-600 text-sm'>{item.period}</p>
            </div>
            <div class="break-inside-avoid-column">
                <p class='text-slate-400 text-sm leading-normal'>{item.description}</p>
            </div>
        </div>
    ))}
    <div>
        
</section>