<div class='w-full mt-3 bg-gray-900 h-32 px-5 py-3 flex justify-center'>
	<div class='w-[800px] text-gray-500 text-center space-y-2 text-sm'>
		<h4>Ezequiel Mendoza | Sofware Developer | Corrientes | Argentina</h4>
		<h5>ezequiel.mendoza@gmail.com | (+54)3777 541327</h5>
	</div>
</div>
