---
import type { TypesLang } from '../i18n/i18n.types'
import { useTranslation } from '../i18n/utils'

const { currentLocale } = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)
---

<div class='w-full mt-10 bg-gray-900 h-32 px-5 py-3 flex justify-center'>
	<div class='w-[800px] text-gray-500 text-center space-y-2 text-sm'>
		<h4>{t('ui.name')} | {t('ui.title')} | Corrientes | Argentina</h4>
		<h5>ezequielmendoza.dev@gmail.com | (+54)3777 541327</h5>
	</div>
</div>
