---
import { useTranslation } from '../i18n/utils'
import type { TypesLang } from '../i18n/i18n.types'
import LinksSocials from './LinksSocials.astro'
const { currentLocale } = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)
import SwitchLanguage from './SwitchLanguage.astro'
import { getCurrentHost } from '../utilities'
---

<aside class='lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/3 lg:flex-col lg:py-24 space-y-2'>
	<SwitchLanguage />
	<div
		class='flex justify-center flex-col text-gray-200 bg-gray-800 px-5 pt-2 pb-5 rounded-lg divide-y divide-gray-700'
	>
		<div class='flex flex-col items-center gap-3 py-5'>
			<img
				src=`${getCurrentHost()}/images/webp/ProfilePhoto.webp`
				class='bg-gray-400 rounded-full w-44'
				alt=`${t('ui.name')} | ${t('ui.title')}`
			/>
			<div class='items-center flex flex-col'>
				<h1 class='text-2xl font-bold'>{t('ui.name')}</h1>
				<h2 class='text-xl text-gray-500/90 font-semibold'>{t('ui.title')}</h2>
			</div>
		</div>
		<nav class='hidden lg:flex py-10 text-left'>
			<ul class='flex flex-col gap-2'>
				<li>
					<a href='#about' class='text-sky-500 font-semibold py-2 px-3 rounded-lg w-full hover:text-gray-300/80'
						>{t('ui.about')}</a
					>
				</li>
				<li>
					<a href='#experience' class='text-gray-400 font-semibold py-2 px-3 rounded-lg w-full hover:text-gray-300/80'
						>{t('ui.experienceTitle')}</a
					>
				</li>
				<li>
					<a href='#projects' class='text-gray-400 font-semibold py-2 px-3 rounded-lg w-full hover:text-gray-300/80'
						>{t('ui.projectsTitle')}</a
					>
				</li>
			</ul>
		</nav>
		<LinksSocials />
	</div>
</aside>
