---
import { useTranslation } from '../i18n/utils';
import type { TypesLang } from '../i18n/i18n.types';
import LinksSocials from './LinksSocials.astro';
const {currentLocale, url} = Astro
const lang = currentLocale as TypesLang
const t = useTranslation(lang)
import {PRODUCTION_URL} from '../constants/index'

---
<aside class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/3 lg:flex-col lg:justify-between lg:py-24">
    <div class="flex justify-center flex-col  text-gray-200 ">
        <img src=`${PRODUCTION_URL}/ProfilePhoto.png` class="bg-gray-400 rounded-full w-56" />
        <div class="items-start flex flex-col">
        <h1 class="text-3xl font-bold">Ezequiel Mendoza</h1>
        <h2 class="text-md text-slate-500 font-semibold">{t('ui.title')}<h2/>
        </div>
        <nav class="hidden lg:flex py-7">
            <ul class='flex flex-col gap-2'>
                <li><a href="#about" class="text-sky-200 bg-sky-600/20 py-2 px-3 rounded-lg w-full hover:text-sky-200">{t('ui.about')}</a></li>
                <li><a href="#experience" class="text-sky-400 py-2 px-3 rounded-lg w-full hover:text-sky-200">{t('ui.experience')}</a></li>
                <li><a href="#projects" class="text-sky-400 py-2 px-3 rounded-lg w-full hover:text-sky-200">{t('ui.projects')}</a></li>
            </ul>
        </nav>
        <LinksSocials />
    </div>
</aside>